Binaries
DerivedDataCache
Intermediate
Saved/Config/Windows/EditorUserSettings.ini
Saved/Cloud/blueprint_icon_b.png
Saved/Cloud/cave_icon_b.png
Saved/Cloud/collision_icon_sm.png
Saved/Cloud/elemental_icon.png
Saved/Cloud/stylized_40x40.png
Saved/Cloud/ut_icon_sm.png
Saved/Cloud/vehicle_40x40.png
Saved/Config/CleanSourceConfigs/EditorUserSettings.ini
Saved/HardwareSurvey/dxdiag.txt
